.badge {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.hero-content p {
    line-height: 1.7;
    margin-bottom: 30px;
    color: #eaeaff;
}
