/* =====================================================
   1. RESET & GLOBAL
===================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3b35f1; /* background utama */
    color: #ffffff;
}

/* =====================================================
   2. HEADER / NAVBAR
===================================================== */
.navbar {
    background-color: #ffffff;
    padding: 16px 60px;
    max-width: auto;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 55px;
}

.logo strong {
    color: #1f1f1f;
    font-size: 16px;
}

.logo small {
    color: #6b6b6b;
    font-size: 12px;
}

.admin-link {
  font-size: 14px;
  font-weight: 600;
  color: #3b3bf3;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 10px;
  transition: .3s;
}

.admin-link:hover {
  background: #eef2ff;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    gap: 40px;
}

.hero-content {
    max-width: 700px;
}

.hero-image img {
    width: 500px;
    border-radius: 20px;
}



.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 14px 26px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
}

.btn.primary {
    background-color: #ffffff;
    color: #3b35f1;
}

.btn.secondary {
    background-color: #dcdcff;
    color: #3b35f1;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn.primary:hover {
    background-color: #f1f1ff;
}

.btn.secondary:hover {
    background-color: #ffffff;
}



.hero-content,
.hero-image {
    animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 1024px) {

    .hero {
        padding: 40px;
        gap: 30px;
    }

    .hero-content h1 {
        font-size: 30px;
    }

    .hero-image img {
        width: 340px;
    }
}



@media (max-width: 768px) {

    .navbar {
        padding: 16px 30px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 25px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-content h1 {
        font-size: 26px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .hero-image img {
        width: 100%;
        max-width: 350px;
    }
}
