.navbar {
    background-color: #ffffff;
    padding: 16px 60px;
    max-width: auto;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 55px;
}

.logo strong {
    color: #1f1f1f;
    font-size: 16px;
}

.logo small {
    color: #6b6b6b;
    font-size: 12px;
}


.pelajari-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 40px 120px;
    background-color: #e5ebff;
}

.pelajari-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
    align-items: center;
}

.pelajari-text h2 {
    font-size: 26px;
    margin: 12px 0 16px;
    margin-left: 50px;
    color: #3b35f1;
}

.pelajari-text p {
    font-size: 24px;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 24px;
    margin-left: 50px;
    text-align: justify;
}

.badge {
    display: inline-block;
    padding: 6px 14px;
    background: #A9A3A35E;
    color: #3b35f1;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.feature {
    display: flex;
    gap: 14px;
    margin-bottom: 10px;
}

.feature h4 {
    margin-left: 22px;
    margin-bottom: 0px;
    font-size: 20px;
    color: #000000;
}

.feature p {
    font-size: 20px;
    margin-left: 20px;
}

.icon {
    width: 36px;
    height: 36px;
    background: #3b35f1;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-left: 50px;
}

.pelajari-image img {
    width: 500px;
    border-radius: 24px;
    object-fit: cover;
}

.btn-daftar {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background: #3b35f1;
    color: #fff;
    padding: 14px 26px;
    border-radius: 14px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 10px 30px rgba(59,53,241,.3);
}

@media (max-width: 900px) {
    .pelajari-section {
        grid-template-columns: 1fr;
    }

    .btn-daftar {
        right: 20px;
        bottom: 20px;
    }
}
